# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**
<ul>
    <li> Some of the popular languages that Data Scientists use</li>
    <li> Some of the commonly used libraries used by Data Scientists</li>
    <li> Data Science Tools</li>
    <li> Evaluating Arithmetic Expressions</li>
</ul>

### Some of the popular languages that Data Scientists use are: ###
<ol>
    <li> Python </li>
    <li> R </li>
    <li> Scala </li>
</ol>

### Some of the commonly used libraries used by Data Scientists include: ###
<ol *>
    <li> Pandas </li>
    <li> Numpy </li>
    <li> Matplotlib </li>
</ol>

|Data Science Tools|
|------------------|
|Apache Spark|
|TensorFlow|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [8]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [9]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author ##
Kailasam Sree Charan Reddy